{% extends "shorten/home_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid justify-content-end">
        <a href="#" class="btn btn-outline-primary btn-lg m-2 " role="button" aria-pressed="true">Login</a>
        <a href="#" class="btn btn-primary btn-lg " role="button" aria-pressed="true">Sign Up</a>
    <div>
</nav>

    <!-- <div class="container" style="height: 500px; background-color: black; "> -->
        <div class="d-flex flex-column align-items-center" style="height: 500px; background-color: red;" >
                <!-- <div class="row"> -->
                    <div class="col-md-12 text-center">
                        <h1 class="display-4  font-weight-bold" >Clii.cc</h1>
                        <p class="desc">A Simple, neat way to make URLs look better.</p>
                    </div>
                <!-- </div> -->
                <!-- <div class="row">
                    <div class="col-8">
                        <form method="POST" id="p-form">
                            {% csrf_token %}
        
                                    <div class="input-group input-group-lg mt-0 mb-2">
                                        
                                            {{ form }}
                                            
                                            <div class="input-group-append">
                                                <button class = "btn btn-primary "  type="submit">Shorten</button>
                                            </div>
                                    </div>
                        </form>
                    <div/>    
                <div/> -->
                        
                <!-- <div class="row"> -->
                    <div class="col-8">
                        <div id="alert-box"></div>
                    </div>
                <!-- </div> -->
        </div>
    <!-- </div> -->
{% endblock content %}


<!-- <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary" type="button">Button</button>
    </div>
    <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
  </div> -->




 